services:
  nextcloud_app:
    image: nextcloud:${NEXTCLOUD_VERSION}
    container_name: nextcloud_app
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - nextcloud_network
      - proxy_network
    depends_on:
      - nextcloud_db
      - nextcloud_redis
    volumes:
      - ${NEXTCLOUD_DATA_DIR}/html:/var/www/html
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - MYSQL_HOST=nextcloud_db
      - REDIS_HOST=nextcloud_redis
      - PHP_UPLOAD_LIMIT=${PHP_UPLOAD_LIMIT}

  nextcloud_db:
    image: mariadb:${MARIADB_VERSION}
    container_name: nextcloud_db
    restart: unless-stopped
    env_file:
      - .env
    command: --transaction-isolation=READ-COMMITTED
    networks:
      - nextcloud_network
    volumes:
      - ${NEXTCLOUD_DATA_DIR}/db:/var/lib/mysql
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - ROOT_PASSWORD=${ROOT_PASSWORD}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - MARIADB_AUTO_UPGRADE=1

  nextcloud_redis:
    image: redis:${REDIS_VERSION}
    container_name: nextcloud_redis
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ${NEXTCLOUD_DATA_DIR}/redis:/data
    networks:
      - nextcloud_network

  cron:
    image: nextcloud:${NEXTCLOUD_VERSION}
    container_name: nextcloud_cron
    restart: unless-stopped
    networks:
      - nextcloud_network
    depends_on:
      - nextcloud_app
      - nextcloud_db
    env_file:
      - .env
    environment:
      - MYSQL_HOST=nextcloud_db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=nextcloud_redis
    volumes:
      - ${NEXTCLOUD_DATA_DIR}/html:/var/www/html
    entrypoint: /cron.sh


networks:
  nextcloud_network:
    name: nextcloud_network
    driver: bridge
  proxy_network:
    external: true

