services:
  nextcloud_app:
    image: nextcloud:${NEXTCLOUD_VERSION:-latest}
    container_name: ${NEXTCLOUD_APP_CONTAINER_NAME:-nextcloud_app}
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env
    networks:
      - nextcloud_network
      - proxy_network
    depends_on:
      - nextcloud_db
      - nextcloud_redis
    volumes:
      - ${NEXTCLOUD_DATA_DIR}/html:/var/www/html
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_HOST=${NEXTCLOUD_DB_CONTAINER_NAME:-nextcloud_db}
      - REDIS_HOST=${NEXTCLOUD_REDIS_CONTAINER_NAME:-nextcloud_redis}
      - REDIS_HOST_PASSWORD=${REDIS_PASSWORD}
      - PHP_UPLOAD_LIMIT=${PHP_UPLOAD_LIMIT}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/status.php"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    logging:
      driver: "loki"
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-retries: "5"
        loki-batch-size: "400"
        loki-external-labels: "container_name={{.Name}},service=nextcloud_app"
        loki-timeout: "10s"
        loki-tenant-id: "nextcloud"

  nextcloud_db:
    image: mariadb:${MARIADB_VERSION}
    container_name: ${NEXTCLOUD_DB_CONTAINER_NAME:-nextcloud_db}
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW 
    networks:
      - nextcloud_network
    volumes:
      - ${NEXTCLOUD_DATA_DIR}/db:/var/lib/mysql
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - MYSQL_ROOT_PASSWORD=${ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MARIADB_AUTO_UPGRADE=1
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-u", "root", "-p${ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    logging:
      driver: "loki"
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-retries: "5"
        loki-batch-size: "400"
        loki-external-labels: "container_name={{.Name}},service=nextcloud_db"
        loki-timeout: "10s"
        loki-tenant-id: "nextcloud"

  nextcloud_cron:
    image: nextcloud:${NEXTCLOUD_VERSION:-latest}
    container_name: ${NEXTCLOUD_CRON_CONTAINER_NAME:-nextcloud_cron}
    restart: ${RESTART_POLICY:-unless-stopped}
    networks:
      - nextcloud_network
    depends_on:
      - nextcloud_app
      - nextcloud_db
    env_file:
      - .env
    environment:
      - MYSQL_HOST=${NEXTCLOUD_DB_CONTAINER_NAME:-nextcloud_db}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=${NEXTCLOUD_REDIS_CONTAINER_NAME:-nextcloud_redis}
      - REDIS_HOST_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ${NEXTCLOUD_DATA_DIR}/html:/var/www/html
    entrypoint: /cron.sh
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep -v grep | grep -q 'cron'"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: "loki"
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-retries: "5"
        loki-batch-size: "400"
        loki-external-labels: "container_name={{.Name}},service=nextcloud_cron"
        loki-timeout: "10s"
        loki-tenant-id: "nextcloud"


  nextcloud_redis:
    image: redis:${REDIS_VERSION:-alpine}
    container_name: ${NEXTCLOUD_REDIS_CONTAINER_NAME:-nextcloud_redis}
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - ${NEXTCLOUD_DATA_DIR}/redis:/data
    networks:
      - nextcloud_network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: "loki"
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-retries: "5"
        loki-batch-size: "400"
        loki-external-labels: "container_name={{.Name}},service=nextcloud_redis"
        loki-timeout: "10s"
        loki-tenant-id: "nextcloud"

  nextcloud_fail2ban:
    image: crazymax/fail2ban:${FAIL2BAN_VERSION:-latest}
    container_name: ${NEXTCLOUD_FAIL2BAN_CONTAINER_NAME:-nextcloud_fail2ban}
    restart: ${RESTART_POLICY:-unless-stopped}
    volumes:
      - ${NEXTCLOUD_DATA_DIR}${NEXTCLOUD_LOG_PATH:-/html/data/nextcloud.log}:/var/log/nextcloud/nextcloud.log:ro  # Mount data dir as read-only
      - ${NEXTCLOUD_DATA_DIR}/fail2ban/jail.d:/etc/fail2ban/jail.d:ro  # Your fail2ban configuration
      - ${NEXTCLOUD_DATA_DIR}/fail2ban/filter.d:/etc/fail2ban/filter.d:ro  # Custom filters
      - ${NEXTCLOUD_DATA_DIR}/fail2ban/action.d:/etc/fail2ban/action.d:ro
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    healthcheck:
      test: ["CMD-SHELL", "fail2ban-client ping"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    logging:
      driver: "loki"
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-retries: "5"
        loki-batch-size: "400"
        loki-external-labels: "container_name={{.Name}},service=nextcloud_fail2ban"
        loki-timeout: "10s"
        loki-tenant-id: "nextcloud"

networks:
  nextcloud_network:
    name: nextcloud_network
    driver: bridge
  proxy_network:
    external: true
  monitoring_network:
    external: true
