# Versions
NEXTCLOUD_VERSION=latest
MARIADB_VERSION=latest
REDIS_VERSION=alpine
FAIL2BAN_VERSION=latest

# User settings
PUID=1000
PGID=1000
TIMEZONE=Europe/Berlin

# Data location
LOCAL_NEXTCLOUD_DATA_DIR=~/nextcloud # NEXTCLOUD_DATA_DIR is used by the nextcloud docker container to determine the location of all files and needs to be /var/www/html/data
NEXTCLOUD_LOG_PATH=/html/data/nextcloud.log # Ensure that in your config.php the logfile is set to /var/www/html/data/nextcloud.log

# Database settings
DB_NAME=nextcloud
DB_USER=nextclouduser
DB_PASSWORD=super-secret-password
ROOT_PASSWORD=Another-super-secret-password

# Nextcloud settings
PHP_MEMORY_LIMIT=1G
PHP_UPLOAD_LIMIT=16G

# Redis pw
REDIS_PASSWORD=next-super-secret-password

# Restart policy
RESTART_POLICY=unless-stopped

