services:
  watchtower:
    image: containrrr/watchtower:${WATCHTOWER_VERSION:-latest}
    container_name: ${WATCHTOWER_CONTAINER_NAME:-watchtower}
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_SCHEDULE=${SCHEDULE:-0 0 5 * * *}
      - TZ=${TIMEZONE:-Europe/Berlin}
      - WATCHTOWER_CLEANUP=${WATCHTOWER_CLEANUP:-true}
      - WATCHTOWER_ROLLING_RESTART=${WATCHTOWER_ROLLING_RESTART:-true}
