services:
  watchtower:
    image: containrrr/watchtower:${WATCHTOWER_VERSION:-latest}
    container_name: ${WATCHTOWER_CONTAINER_NAME:-watchtower}
    restart: ${RESTART_POLICY:-unless-stopped}
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_SCHEDULE=${SCHEDULE:-0 0 5 * * *}
      - TZ=${TIMEZONE:-Europe/Berlin}
      - WATCHTOWER_CLEANUP=${WATCHTOWER_CLEANUP:-true}
      - WATCHTOWER_ROLLING_RESTART=${WATCHTOWER_ROLLING_RESTART:-true}
    logging:
      driver: "loki"
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-pipeline-stages: |
          - json:
              expressions:
                timestamp: time
                level: level
                message: message
        loki-retries: "5"
        loki-batch-size: "400"
        loki-external-labels: "container_name={{.Name}},service=watchtower"
        loki-timeout: "10s"
        loki-buffer-size: "256MB"
        loki-queue-size: "10000"
        loki-tenant-id: "watchtower"
        loki-format: "json"
