
services:
  jumphost:
    image: linuxserver/openssh-server:${SSH_SERVER_VERSION:-latest}
    container_name: ${JUMPHOST_NAME:-jumphost}
    env_file:
      - .env
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Europe/Berlin}
      - PASSWORD_ACCESS=false
      - USER_NAME=${JUMPHOST_USER:-jumphost}
    restart: ${RESTART_POLICY:-unless-stopped}
    ports:
      - "${SSH_PORT:-1234}:${SSH_PORT:-1234}"
      - "${JUMP_PORT:-5678}:${JUMP_PORT:-5678}"
    volumes:
      - ${CONFIG_DIR}:/config
