services:
  # WordPress container
  wordpress:
    image: wordpress:latest
    container_name: wordpress
    restart: ${RESTART_POLICY}
    environment:
      WORDPRESS_DB_HOST: wordpress_db
      WORDPRESS_DB_USER: ${WP_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WP_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WP_DB_NAME}
      WORDPRESS_TABLE_PREFIX: ${WP_TABLE_PREFIX}
    volumes:
      - ${DATA_DIR}/wordpress/html:/var/www/html
    depends_on:
      - wordpress_db
    networks:
      - wordpress_network
      - proxy_network

  # MariaDB container
  wordpress_db:
    image: mariadb:latest
    container_name: wordpress_db
    restart: ${RESTART_POLICY}
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${WP_DB_NAME}
      MYSQL_USER: ${WP_DB_USER}
      MYSQL_PASSWORD: ${WP_DB_PASSWORD}
    volumes:
      - ${DATA_DIR}/wordpress/db:/var/lib/mysql
    networks:
      - wordpress_network

networks:
  wordpress_network:
    name: wordpress_network
    driver: ${NETWORK_DRIVER}
  proxy_network:
    external: true
