# WordPress settings
DB_USER=wordpress
DB_PASSWORD=secure_password_here
DB_NAME=wordpress
WP_TABLE_PREFIX=wp_
ROOT_PASSWORD=another_secure_password_here
DATA_DIR=/somewhere
RESTART_POLICY=unless-stopped
NETWORK_DRIVER=bridge

