# WordPress settings
WP_DB_USER=wordpress
WP_DB_PASSWORD=secure_password_here
WP_DB_NAME=wordpress
WP_TABLE_PREFIX=wp_
MYSQL_ROOT_PASSWORD=another_secure_password_here
DATA_DIR=/somewhere
RESTART_POLICY=unless-stopped
NETWORK_DRIVER=bridge

