services:
  # ------------------------------------------------------
  # Nginx (reverse proxy)
  # ------------------------------------------------------
  nginx:
    image: ${NGINX_IMAGE}
    container_name: ${NGINX_CONTAINER_NAME}
    restart: ${RESTART_POLICY}
    volumes:
      - ${DATA_DIR}/proxy/config/nginx.conf:/etc/nginx/nginx.conf:ro
      # Make ACME challenge folder available to Certbot
      - ${DATA_DIR}/proxy/certbot-challenges:/var/www/certbot-challenges
      - ${DATA_DIR}/proxy/certbot-etc:/etc/letsencrypt:ro
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    networks:
      - proxy_network
      - jitsi_network

  # ------------------------------------------------------
  # Certbot (handles Let's Encrypt certificates)
  # ------------------------------------------------------
  certbot:
    image: ${CERTBOT_IMAGE}
    container_name: ${CERTBOT_CONTAINER_NAME}
    volumes:
      # Where Certbot stores certificates
      - ${DATA_DIR}/proxy/certbot-etc:/etc/letsencrypt
      # ACME challenge folder
      - ${DATA_DIR}/proxy/certbot-challenges:/var/www/certbot-challenges
      - ${DATA_DIR}/proxy/certbot-logs:/var/log/letsencrypt
    networks:
      - proxy_network

  # Handle renew of the certificates
  certbot-renew:
    image: ${CERTBOT_IMAGE}
    container_name: ${CERTBOT_CONTAINER_NAME}_renew
    volumes:
      - ${DATA_DIR}/proxy/certbot-etc:/etc/letsencrypt
      - ${DATA_DIR}/proxy/certbot-challenges:/var/www/certbot-challenges
      - ${DATA_DIR}/proxy/certbot-logs:/var/log/letsencrypt
    entrypoint: >
      sh -c "
      echo '0 3 * * * certbot renew --webroot -w /var/www/certbot-challenges --deploy-hook \"nginx -s reload\" >> /var/log/letsencrypt/renew.log 2>&1' | crontab -
      crond -f -d 8
      "
    networks:
      - proxy_network

networks:
  proxy_network:
    driver: ${NETWORK_DRIVER}
  jitsi_network:
    external: true

