services:
  # ------------------------------------------------------
  # Nginx (reverse proxy)
  # ------------------------------------------------------
  nginx:
    image: ${NGINX_IMAGE}
    container_name: ${NGINX_CONTAINER_NAME}
    restart: ${RESTART_POLICY}
    volumes:
      - ${DATA_DIR}/proxy/config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ${DATA_DIR}/proxy/config/ssl-params.conf:/etc/nginx/ssl-params.conf:ro
      # Make ACME challenge folder available to Certbot
      - ${DATA_DIR}/proxy/certbot-challenges:/var/www/certbot-challenges
      - ${DATA_DIR}/proxy/certbot-etc:/etc/letsencrypt:ro
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    networks:
      - proxy_network
      - jitsi_network
      - nextcloud_network

  # ------------------------------------------------------
  # Certbot (handles Let's Encrypt certificates)
  # ------------------------------------------------------
  certbot:
    image: ${CERTBOT_IMAGE}
    container_name: ${CERTBOT_CONTAINER_NAME}
    volumes:
      # Where Certbot stores certificates
      - ${DATA_DIR}/proxy/certbot-etc:/etc/letsencrypt
      # ACME challenge folder
      - ${DATA_DIR}/proxy/certbot-challenges:/var/www/certbot-challenges
      - ${DATA_DIR}/proxy/certbot-logs:/var/log/letsencrypt
    networks:
      - proxy_network

  # Handle renew of the certificates
  certbot-renew:
    image: ${CERTBOT_IMAGE}
    container_name: ${CERTBOT_CONTAINER_NAME}_renew
    restart: always
    volumes:
      - ${DATA_DIR}/proxy/certbot-etc:/etc/letsencrypt
      - ${DATA_DIR}/proxy/certbot-challenges:/var/www/certbot-challenges
      - ${DATA_DIR}/proxy/certbot-logs:/var/log/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    entrypoint: >
      sh -c "
      apk add --no-cache docker-cli &&
      mkdir -p /etc/crontabs &&
      echo '0 3 * * * certbot renew --webroot -w /var/www/certbot-challenges --post-hook \"docker exec ${NGINX_CONTAINER_NAME} nginx -s reload\" >> /var/log/letsencrypt/renew.log 2>&1' > /etc/crontabs/root &&
      echo 'Crontab installed. Starting cron daemon...' &&
      crond -f -l 8
      "
    networks:
      - proxy_network

networks:
  proxy_network:
    driver: ${NETWORK_DRIVER}
    external: true
  jitsi_network:
    external: true
  nextcloud_network:
    external: true

