services:
  # ------------------------------------------------------
  # Nginx (reverse proxy)
  # ------------------------------------------------------
  nginx:
    image: nginx:alpine
    container_name: nginx_reverse_proxy
    restart: unless-stopped
    volumes:
      - /home/marc/general_infrastructure_data/proxy/config/nginx.conf:/etc/nginx/nginx.conf:ro
      # Make ACME challenge folder available to Certbot
      - /home/marc/general_infrastructure_data/proxy/certbot-challenges:/var/www/certbot-challenges
      - /home/marc/general_infrastructure_data/proxy/certbot-etc:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - proxy_network
      - jitsi_network

  # ------------------------------------------------------
  # Certbot (handles Let's Encrypt certificates)
  # ------------------------------------------------------
  certbot:
    image: certbot/certbot:latest
    container_name: certbot_le
    volumes:
      # Where Certbot stores certificates
      - /home/marc/general_infrastructure_data/proxy/certbot-etc:/etc/letsencrypt
      # ACME challenge folder
      - /home/marc/general_infrastructure_data/proxy/certbot-challenges:/var/www/certbot-challenges
      - /home/marc/general_infrastructure_data/proxy/certbot-logs:/var/log/letsencrypt
      #entrypoint: /bin/bash
    networks:
      - proxy_network

networks:
  proxy_network:
    driver: bridge
  jitsi_network:
    external: true


