# General settings
DATA_DIR=/path/to/data/dir/of/proxy
RESTART_POLICY=unless-stopped
NETWORK_DRIVER=bridge

# Nginx settings
NGINX_VERSION=stable
NGINX_CONTAINER_NAME=nginx_reverse_proxy
HTTP_PORT=80
HTTPS_PORT=443

# Certbot settings
CERTBOT_VERSION=latest

